.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 24px;
  line-height: 22px;
  padding: 0 auto;
}
.input-new-tag {
  width: 78px;
  margin-left: 10px;
  vertical-align: bottom;

  .el-input__inner {
    height: 24px;
  }
}
