<h2 i18n="@@start-h2-1">快速上手</h2>
<p i18n="@@start-p-1">本节将介绍如何在项目中使用 Element-angular。</p>
<blockquote i18n="@@start-blockquote-1">对样式引入有疑问可以返回阅读上一章节。</blockquote>

<h3 i18n="@@start-h3-1">创建项目</h3>
<p i18n="@@start-p-2">如果你还没有一个 <code>Angular</code> 项目，可以考虑使用 cli 快速安装。</p>
<pre>
  <code class="hljs" [innerHTML]="code[0] | highlightAuto"></code>
</pre>

<h3 i18n="@@start-h3-2">根模块引入</h3>
<p i18n="@@start-p-3">将 <code>element-angular</code> 引入根模块后，可以在任意组件中使用。</p>
<pre>
  <code class="hljs" [innerHTML]="code[1] | highlightAuto"></code>
</pre>

<h3 i18n="@@start-h3-3">引入单个组件</h3>
<p i18n="@@start-p-4">附: 即便是引入整个库，Angular 在 Build 时也可以去除未使用的代码，
  请参考 <a href="https://angular.cn/guide/aot-compiler#tree-shaking" target="_blank">Tree shaking</a></p>
<pre>
  <code class="hljs" [innerHTML]="code[2] | highlightAuto"></code>
</pre>

<ex-footer-nav [page]="page"></ex-footer-nav>



