<h2 i18n="@@input-h2-1">Input 输入框</h2>
<p i18n="@@input-p-1">通过鼠标或键盘输入字符</p>

<h3 i18n="@@input-h3-1">基础用法</h3>
<ex-demo  [code]="code[0]">
</ex-demo>

<h3 i18n="@@input-h3-2">禁用状态</h3>
<ex-demo  [code]="code[1]" notes="通过 <code>disabled</code> 属性指定是否禁用 input 组件">
</ex-demo>

<h3 i18n="@@input-h3-3">带 icon 的输入框</h3>
<p i18n="@@input-p-2">带有图标标记输入类型</p>
<ex-demo  [code]="code[2]" notes="通过 <code>icon</code> 属性在 input 组件尾部增加显示图标">
</ex-demo>

<h3 i18n="@@input-h3-4">文本域</h3>
<p i18n="@@input-p-3">用于输入多行文本信息，通过将 <code>type</code> 属性的值指定为 textarea。</p>
<ex-demo  [code]="code[3]" notes="文本域高度可通过 <code>rows</code> 属性控制">
</ex-demo>

<h3 i18n="@@input-h3-5">可自适应文本高度的文本域</h3>
<p i18n="@@input-p-4">通过设置 <code>autosize</code> 属性可以使得文本域的高度能够根据文本内容自动进行调整，并且 <code>autosize</code> 还可以设定为一个对象，指定最小行数和最大行数</p>
<ex-demo  [code]="code[4]">
</ex-demo>

<h3 i18n="@@input-h3-6">复合型输入框</h3>
<p i18n="@@input-p-5">可前置或后置元素，一般为标签或按钮</p>
<ex-demo  [code]="code[5]">
</ex-demo>

<h3 i18n="@@input-h3-7">尺寸</h3>
<ex-demo  [code]="code[6]" notes="可通过 <code>size</code> 属性指定输入框的尺寸，
除了默认的大小外，还提供了 large、small 和 mini 三种尺寸">
</ex-demo>


<ex-document doc="input"></ex-document>
<ex-footer-nav [page]="page"></ex-footer-nav>


