<h2 i18n="@@checkbox-h2-1">Checkbox 多选框</h2>
<p i18n="@@checkbox-p-1">一组备选项中进行多选</p>

<h3 i18n="@@checkbox-h3-1">基础用法</h3>
<p i18n="@@checkbox-p-2">单独使用可以表示两种状态之间的切换，写在标签中的内容为 checkbox 按钮后的介绍。</p>
<ex-demo  [code]="code[0]" [class]="exClass" notes="在组件中定义 <code>model</code> 绑定变量，
单一使用组件时，默认绑定变量的值会是 <code>Boolean</code>，选中为 <code>true</code>">
</ex-demo>

<h3 i18n="@@checkbox-h3-2">禁用状态</h3>
<p i18n="@@checkbox-p-3">多选框不可用状态。</p>
<ex-demo  [code]="code[1]" notes="设置 <code>disabled</code> 属性即可">
</ex-demo>

<h3 i18n="@@checkbox-h3-3">多选框组</h3>
<p i18n="@@checkbox-p-4">适用于多个勾选框绑定到同一个数组的情景，通过是否勾选来表示这一组选项中选中的项。</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="<code>label</code> 与数组中的元素值相对应，
如果存在指定的值则为选中状态，否则为不选中。">
</ex-demo>

<h3 i18n="@@checkbox-h3-4">可选项目数量的限制</h3>
<p i18n="@@checkbox-p-5">使用 <code>min</code> 和 <code>max</code> 属性能够限制可以被勾选的项目的数量。</p>
<ex-demo  [code]="code[3]">
</ex-demo>

<h3 i18n="@@checkbox-h3-5">按钮样式</h3>
<p i18n="@@checkbox-p-6">按钮样式的多选组合。</p>
<ex-demo  [code]="code[4]" notes="组件还提供了 <code>size</code> 属性，
支持 <code>large</code> 和 <code>small</code> 两种。">
</ex-demo>

<ex-document doc="checkbox"></ex-document>
<ex-document doc="checkbox-group"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
