<h2 i18n="@@message-h2-1">Message 消息提示</h2>
<p i18n="@@message-p-1">常用于主动操作后的反馈提示。与 Notification 的区别是后者更多用于系统级通知的被动提醒。</p>

<h3 i18n="@@message-h3-1">基础用法</h3>
<p i18n="@@message-p-2">从顶部出现，3 秒后自动消失。</p>
<ex-demo  [code]="code[0]" [class]="exClass" notes="<code>ElMessageService</code> 仅仅是一个服务，
不需要在模板中注册任何组件插槽，它会创建一个虚拟组件用于显示，并且在合适的时候注销。你完全不用担心模板与生命周期的问题。">
</ex-demo>

<h3 i18n="@@message-h3-2">不同状态</h3>
<p i18n="@@message-p-3">用来显示「成功、警告、消息、错误」类的操作反馈。</p>
<ex-demo  [code]="code[1]" [class]="exClass" notes="服务默认的类型是 <code>info</code>">
</ex-demo>


<h3 i18n="@@message-h3-3">可关闭</h3>
<p i18n="@@message-p-4">可以添加关闭按钮。</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="<code>service.setOptions</code>
接受一个对象，用于更全面的设置提示消息，具体参数可见页面下方的文档。">
</ex-demo>


<h3 i18n="@@message-h3-5">居中</h3>
<ex-demo  [code]="code[4]" [class]="exClass">
</ex-demo>

<h3 i18n="@@message-h3-4">引用说明</h3>
<p i18n="@@message-p-5">你只需要在合适的地方加上：</p>
<pre>
  <code class="hljs" [innerHTML]="code[3] | highlightAuto">
  </code>
</pre>
<p i18n="@@message-p-6">即可使用，<b>无需</b> 在任何地方额外声明 <code>providers</code>依赖。</p>
<p i18n="@@message-p-7">同时触发多个消息提示会自动往上叠加，每个消息是相互独立的，同时它们在结束时都会自动销毁。</p>

<ex-document doc="message"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


