<h2 i18n="@@alert-h2-1">Alert 警告</h2>
<p i18n="@@alert-p-1">用于页面中展示重要的提示信息。</p>

<h3 i18n="@@alert-h3-1">基本用法</h3>
<p i18n="@@alert-p-2">页面中的非浮层元素，不会自动消失。</p>
<ex-demo  [code]="code[0]" notes="Alert 组件提供四种主题，
由 <code>type</code> 属性指定，默认值为 <code>info</code> ">
</ex-demo>

<h3 i18n="@@alert-h3-2">自定义关闭按钮</h3>
<p i18n="@@alert-p-3">自定义关闭按钮为文字或其他符号。</p>
<ex-demo  [code]="code[1]" [class]="exClass" notes="你可以通过 <code>(close)</code>
属性来获取回调事件">
</ex-demo>

<h3 i18n="@@alert-h3-3">带有 icon</h3>
<p i18n="@@alert-p-4">表示某种状态时提升可读性。</p>
<ex-demo  [code]="code[2]">
</ex-demo>

<h3 i18n="@@alert-h3-4">带有辅助性文字介绍</h3>
<p i18n="@@alert-p-5">包含标题和内容，解释更详细的警告。</p>
<ex-demo  [code]="code[3]">
</ex-demo>




<ex-document doc="alert"></ex-document>
<ex-footer-nav [page]="page"></ex-footer-nav>


