<h2 i18n="@@badge-h2-1">Badge 标记</h2>
<p i18n="@@badge-p-1">出现在按钮、图标旁的数字或状态标记。</p>

<h3 i18n="@@badge-h3-1">基础用法</h3>
<p i18n="@@badge-p-2">展示新消息数量。</p>
<ex-demo  [code]="code[0]">
</ex-demo>

<h3 i18n="@@badge-h3-2">最大值</h3>
<p i18n="@@badge-p-3">可自定义最大值。</p>
<ex-demo  [code]="code[1]" notes="由 <code>max</code> 属性定义，
需要注意的是，只有当 <code>model</code> 为 <code>number</code> 时，它才会生效。">
</ex-demo>

<h3 i18n="@@badge-h3-3">自定义内容</h3>
<p i18n="@@badge-p-4">可以显示数字以外的文本内容。</p>
<ex-demo  [code]="code[2]">
</ex-demo>

<h3 i18n="@@badge-h3-4">小红点</h3>
<p i18n="@@badge-p-5">以红点的形式标注需要关注的内容。</p>
<ex-demo  [code]="code[3]">
</ex-demo>

<ex-document doc="badge"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
