<h2 i18n="@@dialog-h2-1">Dialog 对话框</h2>
<p i18n="@@dialog-p-1">在保留当前页面状态的情况下，告知用户并承载相关操作。</p>

<h3 i18n="@@dialog-h3-1">基本用法</h3>
<p i18n="@@dialog-p-2">Dialog 弹出一个对话框，适合需要定制性更大的场景。</p>
<ex-demo  [code]="code[0]" notes="<code>visible</code> 接受一个布尔变量，用于控制对话框的打开与关闭。">
</ex-demo>

<h3 i18n="@@dialog-h3-2">自定义内容</h3>
<p i18n="@@dialog-p-3">Dialog 组件的内容可以是任意的，甚至可以是表格或表单。</p>
<ex-demo  [code]="code[1]" notes="你可以通过<code>ng-template</code>
插入 html 片段甚至是组件来构建自定义的对话框。">
</ex-demo>

<h3 i18n="@@dialog-h3-3">回调函数</h3>
<p i18n="@@dialog-p-4">回调函数能够帮助你更细腻的定义何时关闭对话框。</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="你可以通过<code>ng-template</code>
插入 html 片段甚至是组件来构建自定义的对话框。">
</ex-demo>

<h3 i18n="@@dialog-h3-4">居中显示</h3>
<p i18n="@@dialog-p-5">居中属性不会影响内容。</p>
<ex-demo  [code]="code[3]" [class]="exClass">
</ex-demo>



<ex-document doc="dialog"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
