<h2>DatePicker 日期选择器</h2>
<p>用于选择或输入日期</p>

<h3>选择日</h3>
<p>以「日」为基本单位，基础的日期选择控件</p>
<ex-demo link="2" [code]="code[0]" [class]="exClass" notes="你可以在 <code>[model]</code>
中定义一个初始值，如果留空，则优先显示当前时间。">
</ex-demo>

<h3>日期格式</h3>
<p>预定义日期格式</p>
<ex-demo link="2" [code]="code[1]" [class]="exClass" notes=" <code>[format]</code>
属性非常强大，你可以发挥自己的想象力来定义它的格式。">
</ex-demo>

<h3>禁用</h3>
<p>禁用整个日期组件</p>
<ex-demo link="2" [code]="code[2]" [class]="exClass">
</ex-demo>



<ex-document doc="date-picker"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


