<h2 i18n="@@steps-h2-1">Steps 步骤条</h2>
<p i18n="@@steps-p-1">引导用户按照流程完成任务的分步导航条，可根据实际应用场景设定步骤，至少需要 2 步</p>

<h3 i18n="@@steps-h3-1">基础用法</h3>
<p i18n="@@steps-p-2">简单的步骤条。</p>
<ex-demo  [code]="code[0]" [class]="ExClass">
</ex-demo>

<h3 i18n="@@steps-h3-2">含状态步骤条</h3>
<p i18n="@@steps-p-3">每一步骤显示出该步骤的状态。</p>
<ex-demo  [code]="code[1]">
</ex-demo>

<h3 i18n="@@steps-h3-3">有描述的步骤条</h3>
<p i18n="@@steps-p-4">每个步骤有其对应的步骤状态描述。</p>
<ex-demo  [code]="code[2]">
</ex-demo>

<h3 i18n="@@steps-h3-4">带图标的步骤条</h3>
<p i18n="@@steps-p-5">步骤条内可以启用各种自定义的图标。</p>
<ex-demo  [code]="code[3]" notes="通过 <code>icon</code> 属性来设置图标，图标的类型可以参考 Icon 组件的文档">
</ex-demo>

<h3 i18n="@@steps-h3-5">竖式步骤条</h3>
<p i18n="@@steps-p-6">竖直方向的步骤条。</p>
<ex-demo  [code]="code[4]">
</ex-demo>

<h3 i18n="@@steps-h3-6">简洁风格的步骤条</h3>
<p i18n="@@steps-p-7">设置 simple 可应用简洁风格，该条件下 align-center / description / direction / space 都将失效。</p>
<ex-demo  [code]="code[5]">
</ex-demo>

<ex-document doc="steps"></ex-document>
<ex-document doc="step"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


