<h2 i18n="@@cascader-h2-1">Cascader 级联选择器</h2>
<p i18n="@@cascader-p-1">当一个数据集合有清晰的层级结构时，可通过级联选择器逐级查看并选择。</p>

<h3 i18n="@@cascader-h3-1">基础用法</h3>
<p i18n="@@cascader-p-2">展示多个步骤。</p>
<ex-demo  [code]="code[0]" [class]="exClass" notes="<code>options</code>
需要遵循一定的结构，具体可见示例代码">
</ex-demo>

<h3 i18n="@@cascader-h3-2">禁用选项</h3>
<p i18n="@@cascader-p-3">通过在数据源中设置 <code>disabled</code> 字段来声明该选项是禁用的</p>
<ex-demo  [code]="code[1]" [class]="exClass" notes="设置任意一项数据的 <code>disabled</code>
为 <code>true</code>，即可禁用该项。">
</ex-demo>

<h3 i18n="@@cascader-h3-3">仅显示最后一级</h3>
<p i18n="@@cascader-p-4">可以仅在输入框中显示选中项最后一级的标签，而不是选中项所在的完整路径。</p>
<ex-demo  [code]="code[2]" [class]="exClass">
</ex-demo>

<h3 i18n="@@cascader-h3-4">默认值</h3>
<ex-demo  [code]="code[3]" [class]="exClass">
</ex-demo>

<h3 i18n="@@cascader-h3-5">选择即改变</h3>
<p i18n="@@cascader-p-5">点击或移入选项即表示选中该项，可用于选择任意一级菜单的选项。</p>
<ex-demo  [code]="code[4]" [class]="exClass" notes="设置属性的 <code>[change-on-select]</code>
为 <code>true</code> 即可。">
</ex-demo>

<ex-document doc="cascader"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


