<div class="headerWrapper">
  <header class="header">
    <div class="container">
      <h1>
        <img src="/ex/assets/images/element-logo.svg"
          alt="element-logo"
          class="nav-logo"
          draggable="false">
        <img src="/ex/assets/images/element-logo-small.svg"
          alt="element-logo"
          class="nav-logo-small"
          draggable="false">
      </h1>
      <ul class="nav">
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/basic']">组件</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/eleme/element-angular" target="_blank">GIT</a>
        </li>
      </ul>
    </div>
  </header>
</div>
