<h2>安装</h2>
<h3>npm 安装</h3>
<p>推荐使用 npm 的方式安装，它能更好地和 <a href="https://webpack.js.org/" target="_blank">webpack</a> 打包工具配合使用。</p>
<pre>
  <code class="hljs" [innerHTML]="code[0] | highlightAuto"></code>
</pre>

<h3>Hello world</h3>
<p>引入模块后，我们能轻易地构建一个简易页面</p>
<p><code> element-theme-default </code> 样式库是 <code>Element Angular</code> 的依赖，无需再次安装。</p>

<p>使用 webpack 的引入方式：</p>
<pre>
  <code class="hljs" [innerHTML]="code[1] | highlightAuto"></code>
</pre>
<p>如果你使用 angular-cli，你需要样式文件在 <code>/src/styles</code> 引入：</p>
<pre>
  <code class="hljs" [innerHTML]="code[2] | highlightAuto"></code>
</pre>


<p>如果你希望能够通过模块、异步模块、子模块来引入 element-angular，请参阅下一章</p>


<ex-footer-nav [page]="page"></ex-footer-nav>



