<h2 i18n="@@radio-h2-1">Radio 单选框</h2>
<p i18n="@@radio-p-1">在一组备选项中进行单选</p>

<h3 i18n="@@radio-h3-1">基础用法</h3>
<p i18n="@@radio-p-2">由于选项默认可见，不宜过多，若选项过多，建议使用 Select 选择器。</p>
<ex-demo  [code]="code[0]" notes="要使用 Radio 组件，只需要设置 <code>[(model)]</code>绑定变量。
如果组件中未包含内容，则会优先显示 <code>[label]</code> 中的内容。">
</ex-demo>

<h3 i18n="@@radio-h3-2">禁用状态</h3>
<p i18n="@@radio-p-3">单选框不可用的状态。</p>
<ex-demo  [code]="code[1]" notes="选中的条件是绑定的变量值等于`label`中的值。只要在<code>el-radio</code>元素中设置
<code>disabled</code>属性即可，它接受一个<code>boolean</code>，<code>true</code>为禁用。">
</ex-demo>

<h3 i18n="@@radio-h3-3">单选框组</h3>
<p i18n="@@radio-p-4">适用于在多个互斥的选项中选择的场景</p>
<ex-demo  [code]="code[2]" notes="在 <code>el-radio-group</code> 中绑定 <code>model</code>，
在el-radio中设置好label即可，无需再给每一个el-radio绑定变量 (会被忽略)。">
</ex-demo>

<h3 i18n="@@radio-h3-4">按钮样式</h3>
<p i18n="@@radio-p-5">按钮样式的单选组合。</p>
<ex-demo  [code]="code[3]" notes="只需要把 <code>el-radio</code> 元素换成
<code>el-radio-button</code> 元素即可，此组件还提供了 <code>size</code> 属性，支持
<code>large</code> 和 <code>small</code> 两种">
</ex-demo>

<ex-document doc="radio"></ex-document>
<ex-document doc="radio-group"></ex-document>
<ex-document doc="radio-button"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
