<h2 i18n="@@loading-h2-1">Loading 加载</h2>
<p i18n="@@loading-p-1">这是一个 <a href="https://angular.cn/guide/attribute-directives" target="_blank">属性型指令</a>，它可以被用在任何元素上。</p>
<p i18n="@@loading-p-2">加载数据时显示动效。</p>

<h3 i18n="@@loading-h3-1">区域加载</h3>
<p i18n="@@loading-p-3">在容器中加载数据时显示。</p>
<ex-demo  [code]="code[0]" notes="默认状况下，Loading 遮罩会插入到绑定元素的子节点">
</ex-demo>

<h3 i18n="@@loading-h3-2">加载文案</h3>
<p i18n="@@loading-p-4">可自定义加载文案。</p>
<ex-demo  [code]="code[1]" notes="<code>text</code> 属性是当元素应用
<code>el-loading</code>指令时才被额外附加的。">
</ex-demo>

<h3 i18n="@@loading-h3-3">整页加载</h3>
<p i18n="@@loading-p-5">页面数据加载时显示。</p>
<ex-demo  [code]="code[2]" notes="需要全局的遮罩时，请设置 <code>full-screen</code> 选项。"
  [class]="exClass">
</ex-demo>



<ex-document doc="loading"></ex-document>
<ex-footer-nav [page]="page"></ex-footer-nav>


