<h2>Loading 加载</h2>
<p>这是一个 <a href="https://angular.cn/guide/attribute-directives" target="_blank">属性型指令</a>，它可以被用在任何元素上。</p>
<p>加载数据时显示动效。</p>

<h3>区域加载</h3>
<p>在容器中加载数据时显示。</p>
<ex-demo link="2" [code]="code[0]" notes="默认状况下，Loading 遮罩会插入到绑定元素的子节点">
</ex-demo>

<h3>加载文案</h3>
<p>可自定义加载文案。</p>
<ex-demo link="2" [code]="code[1]" notes="<code>text</code> 属性是当元素应用
<code>el-loading</code>指令时才被额外附加的。">
</ex-demo>

<h3>整页加载</h3>
<p>页面数据加载时显示。</p>
<ex-demo link="2" [code]="code[2]" notes="需要全局的遮罩时，请设置 <code>full-screen</code> 选项。"
  [class]="exClass">
</ex-demo>



<ex-document doc="loading"></ex-document>
<ex-footer-nav [page]="page"></ex-footer-nav>


