<h2 i18n="@@upload-h2-1">Upload 上传</h2>
<p i18n="@@upload-p-1">通过点击或者拖拽上传文件</p>

<h3 i18n="@@upload-h3-1">点击上传</h3>
<ex-demo  [code]="code[0]" [class]="exClass" notes="<code>[upload-filter]</code>
是用于上传过滤的中间件，你可以根据此自定义一些标准，返回 <code>false</code> 会阻止上传动作。">
</ex-demo>

<h3 i18n="@@upload-h3-2">用户头像上传</h3>
<ex-demo  [code]="code[1]" [class]="exClass">
</ex-demo>

<h3 i18n="@@upload-h3-3">照片墙</h3>
<p i18n="@@upload-p-2">使用 <code>list-type</code> 属性来设置文件列表的样式。</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="移除或是点击等操作都可以
获得相应的事件，事件参数请参见文末属性表。">
</ex-demo>

<h3 i18n="@@upload-h3-4">图片列表缩略图</h3>
<ex-demo  [code]="code[3]" [class]="exClass" notes="<code>[list-type]</code>
的改变只是样式与布局上的，所有类型的事件与参数都是相同的。">
</ex-demo>


<h3 i18n="@@upload-h3-5">拖拽上传</h3>
<ex-demo  [code]="code[4]" [class]="exClass" notes="设置 <code>[drag]</code>
为 <code>true</code> 即可开启拖拽模式。">
</ex-demo>



<ex-document doc="upload"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


