<footer class="footer-box" [@state]="showFooter">
  <div class="container">
    <div class="footer-main">
      <p class="footer-main-title">Element Angular - {{ version }}</p>
      <a href="https://github.com/eleme/element-angular/issues"
        class="footer-main-link" target="_blank" i18n="@@footer-a-1">反馈建议</a>
      <a href="https://github.com/eleme/element-angular/blob/master/.github/CONTRIBUTING.zh-CN.md"
        class="footer-main-link" target="_blank" i18n="@@footer-a-2">贡献指南</a>
    </div>
    <div class="footer-social">
      <a href="//github.com/eleme/element-angular" target="_blank">
        GITHUB
      </a>
    </div>
  </div>
</footer>
