<h2 i18n="@@collapse-h2-1">Collapse 折叠面板</h2>
<p i18n="@@collapse-p-1">通过折叠面板收纳内容区域</p>

<h3 i18n="@@collapse-h3-1">基础用法</h3>
<p i18n="@@collapse-p-2">可同时展开多个面板，面板之间不影响</p>
<ex-demo  [code]="code[0]" notes="<code>[model]</code> 接受一个初始化的数组，
数组中的每一项与 <code>el-collapse-item</code> 的属性 <code>[value]</code> 相对应。">
</ex-demo>

<h3 i18n="@@collapse-h3-2">手风琴效果</h3>
<p i18n="@@collapse-p-3">每次只能展开一个面板</p>
<ex-demo  [code]="code[1]">
</ex-demo>

<h3 i18n="@@collapse-h3-3">自定义面板标题</h3>
<p i18n="@@collapse-p-4">除了可以通过 <code>label</code> 属性以外，
  还可以通过 <code>ng-template</code> 来实现自定义面板的标签内容，以实现增加图标等效果。</p>
<ex-demo  [code]="code[2]">
</ex-demo>



<ex-document doc="collapse"></ex-document>
<ex-document doc="collapse-item"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
