<h2 i18n="@@dropdown-h2-1">Dropdown 下拉菜单</h2>
<p>将动作或菜单折叠到下拉菜单中。</p>

<h3 i18n="@@dropdown-h3-1">基础用法</h3>
<p i18n="@@dropdown-p-1">移动到下拉菜单上，展开更多操作。</p>
<ex-demo  [code]="code[0]" [class]="exClass" notes="数据源 <code>model</code>
需要遵循一定的结构，详见文末的参考">
</ex-demo>

<h3 i18n="@@dropdown-h3-2">触发方式</h3>
<p i18n="@@dropdown-p-2">可以配置 click 激活或者 hover 激活。</p>
<ex-demo  [code]="code[1]" [class]="exClass" notes="在 <code>trigger</code>
属性设置为 <code>click</code> 即可。">
</ex-demo>

<h3 i18n="@@dropdown-h3-3">禁用单项</h3>
<p i18n="@@dropdown-p-3">禁用某一个选项</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="设置数据源的某一项 <code>disabled</code>
为 <code>true</code> 即可禁用此选项">
</ex-demo>

<h3 i18n="@@dropdown-h3-4">显示分割线</h3>
<p i18n="@@dropdown-p-4">为单个选项增加分割线</p>
<ex-demo  [code]="code[3]" [class]="exClass" notes="设置数据源的某一项 <code>divided</code>
为 <code>true</code> 即可禁用此选项">
</ex-demo>

<h3 i18n="@@dropdown-h3-5">按钮模式</h3>
<p i18n="@@dropdown-p-5">可使用按钮触发下拉菜单。</p>
<ex-demo  [code]="code[4]" [class]="exClass" notes="设置数据源的某一项 <code>divided</code>
为 <code>true</code> 即可禁用此选项">
</ex-demo>



<ex-document doc="dropdown"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


