<h2 i18n="@@card-h2-1">Card 卡片</h2>
<p i18n="@@card-p-1">将信息聚合在卡片容器中展示。</p>

<h3 i18n="@@card-h3-1">基础用法</h3>
<p i18n="@@card-p-2">包含标题，内容和操作。</p>
<ex-demo  [code]="code[0]">
</ex-demo>

<h3 i18n="@@card-h3-2">简单卡片</h3>
<p i18n="@@card-p-3">卡片可以只有内容区域。</p>
<ex-demo  [code]="code[1]">
</ex-demo>

<h3 i18n="@@card-h3-3">带图片</h3>
<p i18n="@@card-p-4">可配置定义更丰富的内容展示。</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="配置 <code>body-style</code>
属性来自定义 <code>body</code> 部分的样式，我们还使用了布局组件。">
</ex-demo>



<ex-document doc="card"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
