<div class="page-changelog">
  <div class="heading">
    <el-button class="fr">
      <a href="https://www.npmjs.com/package/element-angular" target="_blank">
        NPM Releases
      </a>
    </el-button>
    更新日志
  </div>
  <ul class="timeline" ref="timeline">
    <li><h3><a href="https://github.com/eleme/element-angular" target="_blank">0.0.3-alpha.3</a></h3>
      <p><em>2017-09-02</em></p>
      <ul>
        <li>
          修复 Aot 编译警告
        </li>
        <li>
          增加 Notification，message 组件
        </li>
      </ul>
    </li>
    <li><h3><a href="https://github.com/eleme/element-angular" target="_blank">0.0.3-alpha.2</a></h3>
      <p><em>2017-08-30</em></p>
      <ul>
        <li>
          完成主要组件。补充组件文档以及安装引导。
          <!--<a href="" target="_blank">#issue</a>-->
        </li>
      </ul>
    </li>
    <li><h3><a href="https://github.com/eleme/element-angular" target="_blank">0.0.1</a></h3>
      <p><em>2017-08-06</em></p>
      <ul>
        <li>
          创建项目
          <!--<a href="" target="_blank">#issue</a>-->
        </li>
      </ul>
    </li>
  </ul>
</div>


<ex-footer-nav [page]="page"></ex-footer-nav>



