.page-changelog {
  padding-bottom: 100px;
  .fr {
    float: right;
    padding: 0;
    a {
      display: block;
      padding: 10px 15px;
      color: #475669;
    }
    &:hover a {
      color: #20a0ff;
    }
  }
  .heading {
    margin-bottom: 40px;
  }
  .timeline {
    margin: 0 0 0 105px;
    padding-left: 25px;
    position: relative;
    color: #5e6d82;
    &:before {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 10px;
      background-color: #eaeefa;
    }
    > li {
      list-style: none;
      position: relative;
      line-height: 1.8;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      &:first-child {
        margin-top: -10px;
        h3:before {
          left: -33px;
          top: 10px;
          width: 17px;
          height: 17px;
          background-color: #20a0ff;
          border: 0;
        }
      }
    }
    ul {
      padding-left: 0;
      ul {
        padding-left: 20px;
        li::before {
          content: '';
          circle: 4px #fff;
          border: solid 1px #5e6d82;
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    li li {
      font-size: 14px;
      list-style: none;
      padding-left: 0;
      word-break: break-all;
      &:before {
        content: '';
        circle: 4px #5e6d82;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    h3 {
      margin: 0 0 10px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -31px;
        top: 13px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #20a0ff;
        box-sizing: border-box;
        background-color: #fff;
      }
      a {
        opacity: 1;
        float: none;
        margin-left: 0;
        color: inherit;
      }
    }
    h4 {
      margin: 50px 0 10px;
    }
    p {
      margin: 0;
    }
    em {
      position: absolute;
      left: -127px;
      font-style: normal;
      top: 6px;
      font-size: 14px;
      color: #99a9bf;
    }
  }
}