<h2 i18n="@@form-h2-1">Form 表单</h2>
<p i18n="@@form-p-1">由输入框、选择器、单选框、多选框等控件组成，用以收集、校验、提交数据。</p>
<p>我们为表单添加了 Angular 的响应式支持，你可以在为表单定义多种状态，并从各类组件中收集变化与数据流，这会让你的 应用更具表现力，并更容易梳理、扩展与测试。</p>
<p>如果你对这一编程风格不太了解，可以考虑先从官方文档学习开始
  <a href="https://angular.io/guide/reactive-forms" target="_blank">Reactive Forms</a>。当然除此之外，你仍旧可以使用熟悉模板驱动方式编程。</p>

<h3>输入框表单</h3>
<p>除了显示错误反馈之外，携带输入框的表单还能显示相应的图标。</p>
<ex-demo [code]="code[0]" [class]="exClass"></ex-demo>

<h3>包含多种元素的表单</h3>
<p>包括各种表单项，比如输入框、选择器、开关、单选框、多选框等。</p>
<ex-demo [code]="code[1]" [class]="exClass"></ex-demo>

<h3>对齐方式</h3>
<p>根据具体目标和制约因素，选择最佳的标签对齐方式。</p>
<ex-demo [code]="code[2]" [class]="exClass"></ex-demo>

<h3>行内表单</h3>
<p>当垂直方向空间受限且表单较简单时，可以在一行内放置表单。</p>
<ex-demo [code]="code[3]" [class]="exClass"></ex-demo>

<ex-document doc="form"></ex-document>
<ex-document doc="form-item"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


