<h2 i18n="@@inputnumber-h2-1">InputNumber 计数器</h2>
<p i18n="@@inputnumber-p-1">仅允许输入标准的数字值，可定义范围</p>

<h3 i18n="@@inputnumber-h3-1">基础用法</h3>
<ex-demo [code]="code[0]" [class]="exClass"  notes="变量的初始值即为默认值">
</ex-demo>

<h3 i18n="@@inputnumber-h3-2">禁用状态</h3>
<ex-demo [code]="code[1]"  notes="<code>disabled</code> 属性接受一个 <code>boolean</code>">
</ex-demo>

<h3 i18n="@@inputnumber-h3-3">步数</h3>
<p i18n="@@inputnumber-p-2">允许定义递增递减的步数控制</p>
<ex-demo [code]="code[2]"  notes="设置 <code>step</code> 属性可以控制步长，
接受一个 <code>number</code>">
</ex-demo>

<h3 i18n="@@inputnumber-h3-4">尺寸</h3>
<p i18n="@@inputnumber-p-3">额外提供了 <code>large</code>、<code>small</code> 两种尺寸的数字输入框</p>
<ex-demo [code]="code[3]" >
</ex-demo>

<ex-document doc="input-number"></ex-document>
<ex-footer-nav [page]="page"></ex-footer-nav>


