
<h3 >{{apis.name}}</h3>
<p *ngIf="errorMsg">{{errorMsg}}</p>
<table class="table" *ngIf="apis && apis.attrs">
  <thead>
  <tr>
    <th i18n="@@shared-document-p-1">参数</th>
    <th i18n="@@shared-document-p-2">说明</th>
    <th i18n="@@shared-document-p-3">类型</th>
    <th i18n="@@shared-document-p-4">可选值</th>
    <th i18n="@@shared-document-p-5">默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attr of apis.attrs">
    <td>{{attr.name}}</td>
    <td [innerHTML]="attr.notes"></td>
    <td>{{attr.type}}</td>
    <td>{{attr.enum !== null ? attr.enum : '—'}}</td>
    <td>{{attr.default !== null ? attr.default : '-'}}</td>
  </tr>
  </tbody>
</table>
