
<h2 i18n="@@carousel-h2-1">Carousel 走马灯</h2>
<p i18n="@@carousel-p-1">在有限空间内，循环播放同一类型的图片、文字等内容</p>

<h3 i18n="@@carousel-h3-1">基础用法</h3>
<p i18n="@@carousel-p-2">适用广泛的基础用法</p>
<ex-demo  [code]="code[0]" notes="默认情况下，鼠标 click 底部的指示器时就会触发切换。
通过设置 <code>trigger</code> 属性为 <code>hover</code>，可以达到 hover 触发的效果">
</ex-demo>

<h3 i18n="@@carousel-h3-2">指示器</h3>
<p i18n="@@carousel-p-3">可以将指示器的显示位置设置在容器外部</p>
<ex-demo  [code]="code[1]">
</ex-demo>

<h3 i18n="@@carousel-h3-3">切换箭头</h3>
<p i18n="@@carousel-p-4">可以设置切换箭头的总是显示</p>
<ex-demo  [code]="code[2]" notes="箭头或指示器的触发方式可以更改，详见文末属性参考。">
</ex-demo>

<h3 i18n="@@carousel-h3-4">标签</h3>
<p i18n="@@carousel-p-5">为指示器增加额外文本</p>
<ex-demo  [code]="code[3]" notes="为了保证样式，存在任何一个 <code>label</code> 属性
为空或未设置，指示器都会隐藏所有标签。">
</ex-demo>



<ex-document doc="carousel"></ex-document>
<ex-document doc="carousel-item"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
