.pagination-demo {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px #EFF2F6;
  float: left;
  width: 50%;
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }
}

.demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}

.list {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  >li {
    list-style: none;
    padding: 30px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eff2f6;

    &:last-child {
      border: none;
    }

    >span {
      flex: 1;
      display: flex;
      color: #8492a6;
      font-size: 14px;
      margin-right: 20px;
      float: left;
    }
    .el-pagination {
      width: 70%;
      margin: 5px 20px 0 0;
    }
  }
}