<h2 i18n="@@notification-h2-1">Notification 通知</h2>
<p i18n="@@notification-p-1">悬浮出现在页面右上角，显示全局的通知提醒消息。</p>

<h3 i18n="@@notification-h3-1">基础用法</h3>
<p i18n="@@notification-p-2">适用性广泛的通知栏</p>
<ex-demo  [code]="code[0]" [class]="exClass" notes="所有的通知会在 3000ms 后自动消失，
当然你参考下文的参数来更改具体时间。但我们并没有设置永远不会消失或无法关闭的通知！">
</ex-demo>

<h3 i18n="@@notification-h3-2">带有标题的提示</h3>
<p i18n="@@notification-p-3"><code>Notification</code> 可以指定一个标题，这是一个可选参数。</p>
<ex-demo  [code]="code[1]" [class]="exClass" notes="你还可以通过 <code>iconClass</code>
与<code>customClass</code> 来自定义 css 类名，达到定制化的效果。">
</ex-demo>

<h3 i18n="@@notification-h3-3">带有倾向性</h3>
<p i18n="@@notification-p-4">带有 icon，常用来显示「成功、警告、消息、错误」类的系统消息</p>
<ex-demo  [code]="code[2]" [class]="exClass" notes="服务默认的类型是 <code>info</code>">
</ex-demo>

<h3 i18n="@@notification-h3-4">引用说明</h3>
<p i18n="@@notification-p-5">你只需要在合适的地方加上：</p>
<pre>
  <code class="hljs" [innerHTML]="code[3] | highlightAuto">
  </code>
</pre>
<p i18n="@@notification-p-6">即可使用，<b>无需</b> 在任何地方额外声明 <code>providers</code>依赖。</p>
<p i18n="@@notification-p-7">同时触发多个通知会自动叠加，关闭任何一个通知，其他通知会自动调整高度。</p>
<p i18n="@@notification-p-8">当然，它们也是自动销毁与移除的，你完全不必担心这点。</p>



<ex-document doc="notification"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


