<h2 i18n="@@switch-h2-1">Switch 开关</h2>
<p i18n="@@switch-p-1">表示两种相互对立的状态间的切换，多用于触发「开/关」。</p>

<h3 i18n="@@switch-h3-1">基本用法</h3>
<ex-demo  [code]="code[0]">
</ex-demo>

<h3 i18n="@@switch-h3-2">禁用状态</h3>
<ex-demo  [code]="code[1]" notes="设置 <code>disabled</code> 属性，
接受一个 <code>boolean</code>。">
</ex-demo>

<h3 i18n="@@switch-h3-3">自定义图标名</h3>
<ex-demo  [code]="code[2]" notes="设置指定图标后，会忽略文字显示">
</ex-demo>

<h3 i18n="@@switch-h3-4">自定义文字</h3>
<ex-demo  [code]="code[3]">
</ex-demo>


<ex-document doc="switch"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


