<div class="side-nav">
  <div>版本: 0.0.1</div>
  <ul>
    <li class="nav-item">
      <a >开发指南</a>
      <ul class="pure-menu-list sub-nav">
        <li class="nav-item" >
          <a href="">
            安装
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a target="_blank">基础组件</a>
      <div class="nav-group">
        <div class="nav-group__title">Basic</div>
        <ul class="pure-menu-list">
          <li class="nav-item">
            <a href="">Layout 布局</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
