<h2 i18n="@@basic-button-h2-1">Button 按钮</h2>
<p i18n="@@basic-button-p-1">常用的操作按钮。</p>

<h3 i18n="@@basic-button-h3-1">基础用法</h3>
<p i18n="@@basic-button-p-2">基础的按钮用法。</p>
<ex-demo  [code]="code[0]" notes="Button 组件默认提供7种主题，由 <code>type</code> 属性来定义，默认为 <code>default</code>。">
</ex-demo>

<h3 i18n="@@basic-button-h3-2">禁用状态</h3>
<p i18n="@@basic-button-p-3">按钮不可用状态。</p>
<ex-demo  [code]="code[1]" notes="你可以使用<code>disabled</code>属性来定义按钮是否可用，它接受一个 <code>Boolean</code> 值。">
</ex-demo>

<h3 i18n="@@basic-button-h3-3">有颜色倾向</h3>
<p i18n="@@basic-button-p-4">不同的颜色倾向代表不同的提示</p>
<ex-demo  [code]="code[2]" notes="朴素按钮同样设置了不同的 <code>type</code> 属性对应的样式（可选值同上），
默认为 <code>info</code>。设置 <code>plain</code> 属性，它接受一个 <code>Boolean</code>。注意，在该情况下，
<code>text</code>虽然可以为 <code>text</code>，但是是没有意义的，会显示为 <code>text button</code> 的样式。
">
</ex-demo>

<h3 i18n="@@basic-button-h3-4">图标按钮</h3>
<p i18n="@@basic-button-p-5">带图标的按钮可增强辨识度(有文字)或节省空间(无文字)。</p>
<ex-demo  [code]="code[3]" notes="设置 <code>icon</code> 属性即可，icon 的列表可以参考 Element 的 icon 组件，
也可以设置在文字右边的 icon ，只要使用 <code>i</code> 标签即可，可以使用自定义图标。">
</ex-demo>


<h3 i18n="@@basic-button-h3-5">按钮组</h3>
<p i18n="@@basic-button-p-6">以按钮组的方式出现，常用于多项类似操作。</p>
<ex-demo  [code]="code[4]" notes="使用 <code><el-button-group></code> 标签来嵌套你的按钮。">
</ex-demo>

<h3 i18n="@@basic-button-h3-6">加载中</h3>
<p i18n="@@basic-button-p-7">点击按钮后进行数据加载操作，在按钮上显示加载状态。</p>
<ex-demo  [code]="code[5]" notes="要设置为 loading 状态，只要设置 <code>loading</code>
属性为 <code>true</code> 即可。">
</ex-demo>

<h3 i18n="@@basic-button-h3-7">不同尺寸</h3>
<p i18n="@@basic-button-p-8">Button 组件提供除了默认值以外的三种尺寸，可以在不同场景下选择合适的按钮尺寸。</p>
<ex-demo  [code]="code[6]" notes="额外的尺寸：<code>large</code>、
<code>small</code>、<code>mini</code>，通过设置 <code>size</code> 属性来配置它们。">
</ex-demo>


<ex-document doc="button"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
