<h2 i18n="@@slider-h2-1">Slider 滑块</h2>
<p i18n="@@slider-p-1">通过拖动滑块在一个固定区间内进行选择</p>

<h3 i18n="@@slider-h3-1">基础用法</h3>
<p i18n="@@slider-p-2">在拖动滑块时，显示当前值</p>
<ex-demo  [code]="code[0]" [class]="exClass">
</ex-demo>


<h3 i18n="@@slider-h3-2">自定义初始值</h3>
<ex-demo  [code]="code[1]" [class]="exClass">
</ex-demo>


<h3 i18n="@@slider-h3-3">隐藏 Tooltip</h3>
<p i18n="@@slider-p-3">不显示数字提示</p>
<ex-demo  [code]="code[2]" [class]="exClass">
</ex-demo>

<h3 i18n="@@slider-h3-4">最小值与最大值</h3>
<p i18n="@@slider-p-4">手动设置最小值与最大值</p>
<ex-demo  [code]="code[3]" [class]="exClass">
</ex-demo>


<h3 i18n="@@slider-h3-5">竖向模式</h3>
<ex-demo  [code]="code[4]" [class]="exClass">
</ex-demo>


<ex-document doc="slider"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


