<h2 i18n="@@container-h2-1">Container 布局容器</h2>
<p i18n="@@container-p-1">用于布局的容器组件，方便快速搭建页面的基本结构：</p>
<p i18n="@@container-p-2"> <code>el-container</code>：外层容器。当子元素中包含 <code>el-header</code> 或 <code>el-footer</code> 时，
  全部子元素会垂直上下排列，否则会水平左右排列。</p>
<p><code>el-header</code> <span i18n="@@container-span-1">顶栏容器。</span></p>
<p><code>el-aside</code> <span i18n="@@container-span-2">侧边栏容器。</span></p>
<p><code>el-main</code> <span i18n="@@container-span-3">主要区域容器。</span></p>
<p><code>el-footer</code> <span i18n="@@container-span-4">底栏容器。</span></p>

<div class="tip">
  <p i18n="@@container-p-3">以上组件采用了 flex 布局，使用前请确定目标浏览器是否兼容。
    此外，子元素只能是后四者，后四者的父元素也只能是 <code>el-container</code>。</p>
</div>

<h3 i18n="@@container-h3-1">常见页面布局</h3>
<ex-demo [code]="code[0]" ></ex-demo>


<ex-document doc="container"></ex-document>
<ex-document doc="header"></ex-document>
<ex-document doc="aside"></ex-document>
<ex-document doc="footer"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


