<!--<h2>tooltip</h2>-->

<div class="box">
  <div class="top">
    <el-tooltip [context]="makeTooltipSetting('top-start')">
      <el-button>
        上左
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('top')">
      <el-button>
        上边
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('top-end')">
      <el-button>
        上右
      </el-button>
    </el-tooltip>
  </div>
  <div class="left">
    <el-tooltip [context]="makeTooltipSetting('left-start')">
      <el-button>
        左上
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('left')">
      <el-button>
        左边
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('left-end')">
      <el-button>
        左下
      </el-button>
    </el-tooltip>
  </div>
  <div class="right">
    <el-tooltip [context]="makeTooltipSetting('right-start')">
      <el-button>
        右上
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('right')">
      <el-button>
        右边
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('right-end')">
      <el-button>
        右下
      </el-button>
    </el-tooltip>
  </div>
  <div class="bottom">
    <el-tooltip [context]="makeTooltipSetting('bottom-start')">
      <el-button>
        下左
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('bottom')">
      <el-button>
        下边
      </el-button>
    </el-tooltip>
    <el-tooltip [context]="makeTooltipSetting('bottom-end')">
      <el-button>
        下右
      </el-button>
    </el-tooltip>
  </div>
</div>


<!--<el-button  [el-tooltip]="{ content: makeStringContent() }">-->
  <!--一段文字-->
<!--</el-button>-->

<!--<el-button  [el-tooltip]="{ content: makeElementContent()}">-->
  <!--HtmlElement-->
<!--</el-button>-->
<!--<el-button  [el-tooltip]="makeTooltipSetting('test2')">-->
  <!--test-->
<!--</el-button>-->

<el-tooltip [context]="{ content: makeElementContent() }">
  <el-button>
    test2
  </el-button>
</el-tooltip>

<el-tooltip [context]="{ content: '22' }">
  <el-button>
    test2
  </el-button>
</el-tooltip>
