<h2 i18n="@@tooltip-h2-1">Tooltip 文字提示</h2>
<p i18n="@@tooltip-p-1">常用于展示鼠标 hover 时的提示信息。</p>
<p i18n="@@tooltip-p-2">与其他组件一样，此组件未依赖任何第三方组件，这是与 <code>element-vue</code> 的不同之处。</p>

<h3 i18n="@@tooltip-h3-1">基础用法</h3>
<p i18n="@@tooltip-p-3">在这里我们提供 9 种不同方向的展示方式，可以通过以下完整示例来理解，选择你要的效果。</p>
<ex-demo  [code]="code[0]" notes="使用 <code>ng-template</code> 的 <code>#tip</code>
属性来决定 hover 时的提示信息或模板。由 <code>placement</code> 属性决定展示效果，提示框体展示的位置与朝向。具体请参阅组件接口文档。">
</ex-demo>

<h3 i18n="@@tooltip-h3-2">主题</h3>
<p i18n="@@tooltip-p-4">Tooltip 组件提供了两个不同的主题：<code>dark</code> 和 <code>light</code>。</p>
<ex-demo  [code]="code[1]" notes="通过设置 <code>effect</code> 属性来改变主题，默认为 <code>dark</code>">
</ex-demo>

<h3 i18n="@@tooltip-h3-3">禁用</h3>
<p i18n="@@tooltip-p-5">设置提示禁用</p>
<ex-demo  [code]="code[2]" notes="设置禁用后不会影响内容本身的响应，但不再弹出提示。">
</ex-demo>


<ex-document doc="tooltip"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
