<h2>tooltip</h2>




<el-button class="el-tooltip" [el-tooltip]="{ effect: 'dark', content: '123', placement: 'top' }">
  Dark
</el-button>

<el-button class="el-tooltip" [el-tooltip]="{ effect: 'dark', content: '123', placement: 'left' }">
  Dark
</el-button>

<el-button class="el-tooltip" [el-tooltip]="{ effect: 'dark', content: '123', placement: 'right' }">
  Dark
</el-button>

<el-button class="el-tooltip" [el-tooltip]="{ effect: 'dark', content: '123', placement: 'bottom' }">
  Dark
</el-button>

<!--<el-tooltip content="Top center" placement="top">-->

<!--</el-tooltip>-->

<!--<el-tooltip content="Bottom center" placement="bottom" effect="light">-->
  <!--<el-button>Light</el-button>-->
<!--</el-tooltip>-->
