.demo-block {
  border: solid 1px #eaeefb;
  border-radius: 4px;
  transition: .2s;
  &.hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }
  code {
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
  }
  .demo-button {
    float: right;
  }
  .source {
    padding: 24px;
  }
  .meta {
    background-color: #fafafa;
    border-top: 1px solid #eaeefb;
    overflow: hidden;
    height: auto;
    transition: height .2s;
    display: flex;
    flex-direction: column;
  }
  .description {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    word-break: break-word;
    margin: 10px;
    background-color: #fff;
    p {
      margin: 0;
      line-height: 26px;
    }
    code {
      color: #5e6d82;
      background-color: #e6effb;
      margin: 0 4px;
      display: inline-block;
      padding: 1px 5px;
      font-size: 12px;
      border-radius: 3px;
      height: 18px;
      line-height: 18px;
    }
    button {
      margin-top: 10px;
    }
  }
  .highlight {
    display: flex;
    flex-direction: column;

    pre {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0;
    }
    code.hljs {
      margin: 0;
      border: none;
      padding: 20px 15px;
      border-radius: 0;
    }
  }
  .demo-block-control {
    border-top: solid 1px #eaeefb;
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: -1px;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative;
    i {
      font-size: 12px;
      line-height: 36px;
      transition: .35s;
      &.hovering {
        transform: translateX(-40px);
      }
    }
    span {
      position: absolute;
      transform: translateX(-30px);
      font-size: 14px;
      line-height: 36px;
      transition: .35s;
      overflow: hidden;
      display: inline-block;
    }
    &:hover {
      color: #20a0ff;
      background-color: #f9fafc;
    }
    & .text-slide-enter,
    & .text-slide-leave-active {
      opacity: 0;
      transform: translateX(10px);
    }
  }
}