<h2>自定义主题</h2>
<p>Element-Angular 默认提供一套主题，CSS 命名采用 BEM 的风格方便使用者覆盖样式。如果你想完全替换主题色或者部分样式，可以使用下面的方法。</p>

<h2>仅替换主题色</h2>
<p>如果仅希望更换 Element 的主题色，推荐使用<a href="https://elementui.github.io/theme-preview" target="_blank">在线主题生成工具</a>。</p>
<p>Element-Angular 默认的主题色是鲜艳、友好的蓝色。通过替换主题色，能够让 Element-Angular 的视觉更加符合具体项目的定位。</p>
<p>使用上述工具，可以很方便地实时预览主题色改变之后的视觉，同时它还可以基于新的主题色生成完整的样式文件包，供直接下载使用（关于如何使用下载的主题包，请参考本节「引入自定义主题」和「搭配插件按需引入组件主题」部分）。</p>
<p>如果希望进行除主题色之外的样式定制，请继续阅读。</p>

<h2>深层次的定制</h2>
<p>如果仅仅改变主题色不能满足你的需求，请按以下步骤进行更深层次的主题定制：</p>

<h3>安装工具</h3>
<p>开发中</p>



<ex-footer-nav [page]="page"></ex-footer-nav>



