<h2 i18n="@@navmenu-h2-1">NavMenu 导航菜单</h2>
<p i18n="@@navmenu-p-1">为网站提供导航功能的菜单。</p>

<h3 i18n="@@navmenu-h3-1">顶栏</h3>
<p i18n="@@navmenu-p-2">适用广泛的基础用法。</p>
<ex-demo  [code]="code[0]" >
</ex-demo>

<h3 i18n="@@navmenu-h3-2">侧栏</h3>
<p i18n="@@navmenu-p-3">垂直菜单，可内嵌子菜单。</p>
<ex-demo  [code]="code[1]" notes="通过 <code>el-menu-item-group</code>
组件可以实现菜单进行分组，分组名可以通过 <code>title</code> 属性直接设定也可以通过 ng-template 来设定。">
</ex-demo>



<ex-document doc="menu"></ex-document>
<ex-document doc="menu-item"></ex-document>
<ex-document doc="menu-group"></ex-document>
<ex-document doc="submenu"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
