<h2 i18n="@@progress-h2-1">Progress 进度条</h2>
<p>用于展示操作进度，告知用户当前状态和预期。</p>

<h3 i18n="@@progress-h3-1">线形进度条 — 百分比外显</h3>
<ex-demo  [code]="code[0]" notes="<code>[percentage]</code> 属性是必填的，表示进度条对应的百分比。">
</ex-demo>

<h3 i18n="@@progress-h3-2">线形进度条 — 百分比内显</h3>
<p i18n="@@progress-p-1">百分比不占用额外控件，适用于文件上传等场景。</p>
<ex-demo  [code]="code[1]" notes="可通过 <code>stroke-width</code>
属性更改进度条的高度，并可通过 <code>text-inside</code> 属性来将进度条描述置于进度条内部">
</ex-demo>

<h3 i18n="@@progress-h3-3">环形进度条</h3>
<ex-demo  [code]="code[2]" notes="可通过 <code>type</code>
属性来指定使用环形进度条">
</ex-demo>


<ex-document doc="progress"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>
