<h2 i18n="@@rate-h2-1">Rate 评分</h2>
<p i18n="@@rate-p-1">评分组件</p>

<h3 i18n="@@rate-h3-1">基础用法</h3>
<ex-demo  [code]="code[0]">
</ex-demo>

<h3 i18n="@@rate-h3-2">辅助文字</h3>
<p i18n="@@rate-p-2">用辅助文字直接地表达对应分数</p>
<ex-demo  [code]="code[1]" notes="设置 <code>[show-text]</code> 属性会在右侧显示辅助文字">
</ex-demo>

<h3 i18n="@@rate-h3-3">其它 icon</h3>
<p i18n="@@rate-p-3">当有多层评价时，可以用不同类型的 icon 区分评分层级</p>
<ex-demo  [code]="code[2]">
</ex-demo>

<h3 i18n="@@rate-h3-4">只读</h3>
<p i18n="@@rate-p-4">只读的评分用来展示分数</p>
<ex-demo  [code]="code[3]" notes="为组件设置 <code>disabled</code> 属性表示组件为只读">
</ex-demo>

<ex-document doc="rate"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


