<h2 i18n="@@select-h2-1">Select 选择器</h2>
<p i18n="@@select-p-1">当选项过多时，使用下拉菜单展示并选择内容。</p>

<h3 i18n="@@select-h3-1">基础用法</h3>
<p i18n="@@select-p-2">适用广泛的基础单选</p>
<ex-demo  [code]="code[0]" [class]="exClass" notes="<code>el-option</code> 的属性
<code>label</code>和<code>value</code>是必填的。">
</ex-demo>

<h3 i18n="@@select-h3-2">有禁用选项</h3>
<ex-demo  [code]="code[1]" notes="在<code>el-option</code>中，设定
<code>disabled</code>值为 true，即可禁用该选项。">
</ex-demo>

<h3 i18n="@@select-h3-3">禁用状态</h3>
<p i18n="@@select-p-3">选择器不可用状态</p>
<ex-demo  [code]="code[2]" notes="在<code>el-option</code>中，设定
<code>disabled</code>值为 true，即可禁用该选项。">
</ex-demo>

<h3 i18n="@@select-h3-4">默认选中</h3>
<p i18n="@@select-p-4">初始状态时默认选中值</p>
<ex-demo  [code]="code[3]" notes="在<code>el-select</code>中，设定
model 初始值等于需要选中项的 value 即可。">
</ex-demo>

<h3 i18n="@@select-h3-5">可清空单选</h3>
<p i18n="@@select-p-5">包含清空按钮，可将选择器清空为初始状态</p>
<ex-demo  [code]="code[4]" notes="在<code>el-select</code>中，设定
<code>clearable</code>值为 true，则可将选择器清空。">
</ex-demo>


<ex-document doc="select"></ex-document>
<ex-document doc="select-option"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


