<h2 i18n="@@breadcrumb-h2-1">Breadcrumb 面包屑</h2>
<p i18n="@@breadcrumb-p-1">显示当前页面的路径，快速返回之前的任意页面。</p>

<h3 i18n="@@breadcrumb-h3-1">基础用法</h3>
<p i18n="@@breadcrumb-p-2">适用广泛的基础用法。</p>
<ex-demo  [code]="code[0]">
</ex-demo>

<h3 i18n="@@breadcrumb-h3-2">手动跳转</h3>
<p i18n="@@breadcrumb-p-3">关闭组件的自动跳转从而手动设置路由，这是复杂的应用常见的需求。</p>
<ex-demo  [code]="code[1]" [class]="exClass" notes="设置 <code>prevent</code> 会阻止组件默认的跳转，
你可以从 <code>(next)</code> 事件中收集每次跳转的路径。">
</ex-demo>

<h3 i18n="@@breadcrumb-h3-3">图标分隔符</h3>
<ex-demo  [code]="code[2]" notes="通过设置 separator-class 可使用相应的 iconfont 作为分隔符，注意这将使 separator 设置失效">
</ex-demo>


<ex-document doc="breadcrumb"></ex-document>
<ex-document doc="breadcrumb-item"></ex-document>

<ex-footer-nav [page]="page"></ex-footer-nav>


